@media only screen and (min-width: 641px) {
 
	 .top-bar-section {
		position: absolute;
		width: 100%;
	}
	/** Removes black background on menu item **/
	.top-bar-section li:not(.has-form) a:not(.button) {
	    background: none;
	    line-height: 100px;
	    padding: 0 20px;
	    text-transform: uppercase;
	}
	.top-bar {
	height: 100px;
	background-color:rgba(0, 0, 0, 0.7)
	}
	.logo {
	padding: 0;
	width: 275px;
	height: 100px;
	}
}

@media all and (max-width: 480px) {

	a.anchor {
	top: -73px; 
	}
	a.anchormenu {
	display: block;
	position: relative;
	top: -73px; 
	visibility: hidden;
	}
	.about {
		padding-top: 50px;
	}
	.catering .column {
		padding-left: 0;
		padding-right: 0;
	}
	.catering {
		height: 550px;
	}
	.catering p {
		padding: 20px 20px 70px 20px;
	}

	.media section, .sponsors section {
		padding: 30px 10px;
		height: auto;
	}
	.sponsors, .media {
	padding: 0;
	height: auto;
	}
	.photo-ribbon {
	top: -26px;
	width: 100%;
	}
	.logo img {
	width: 200px;
	}
	.top-bar, .logo {
	height: 73px;
	}
	.contact li {
	display: inline-block;
	padding: 0px;
	margin-bottom: 10px;
	width: 80px;
	}
	.contact h1 {
	padding-bottom: 30px;
	}
	.contact ul {
		margin-left: 0;
	}
	.contact section {
	padding-top: 30px;
	padding-bottom: 30px;
	}
	.map {
		background: url('../img/map.jpg') no-repeat center;
		background-size: cover;
		width: 100%;
		height: 200px;
	}
	.footer {
		height: 222px;
	}
}
@media all and (max-width: 1079px) {
	.top-bar-section ul li > a {
	font-size: 1em;
	}
}

@media all and (max-width: 640px) {
	.address {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.hero {
	margin-top: 0px;
	margin-bottom: 0px;
	}
	.address-bar address {
	bottom: 0px;
}

	.social {
		display: none;
	}
	.top-bar-section li:not(.has-form) a:not(.button):hover {
	background: #000;
	}
	
	.top-bar.expanded .title-area {
	background: #0A0D16;
	border-bottom: 1px solid #333;
	}
	.top-bar-section ul li > a {
	background: #0A0D16;
	border-bottom: 1px solid #333; 
	}
	.top-bar-section li:not(.has-form) a:not(.button) {
	padding: 15px 15px !important;
	}
}
@media only screen and (min-width: 40.063em) {
	.column, .columns {
	position: relative;
	padding-left: 0rem;
	padding-right: 0rem;
	float: left;
	}
}

 /* end media query */